.logo{
    display: flex;

}

.checkbox{
    display: flex;
    justify-content: space-between;

    a{
        text-decoration: none;
        color: white;
    }
}

.login{
    p{
        a{
           text-decoration: none; 
           color:white
        }
        
    }
}