<div class="logo">
  <h1>nice to see you again</h1>
</div>

<form class="login">
  <!-- Inputs Email & Password -->
  <label for="Email">Email</label>
  <app-input placeholder="Email"></app-input>
  <label for="password">Password</label>
  <app-input placeholder="Password"></app-input>
  <div class="checkbox">
    <app-checkbox></app-checkbox>
    <a routerLink="../forgot-password">Forgot password ?</a>
    <!-- Checkbox -->
  </div>
  <!-- Bouton Valider & Google-->
  <app-button></app-button>
  <p>Don't have an account?<a routerLink="../register"> Sign up now!</a></p>
</form>

