.messengernav {
  position: fixed;
  width: 30vh;
  top: 9%;
  bottom: 0;
  left: 5%;
  background-color: #24252a;
}

.titre {
  width: 144px;
  height: 39px;
  padding: 1em;
  margin-top: 2vh;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.messages {
  position: absolute;
      top: 38%;
      left: 38%;
      transform: translate(-50%, -50%);
  }

ul li {
  list-style: none;
  cursor: pointer;
  margin: 1em auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}


.photo {
  border-radius: 50%;
  width: 40%;
}
