button{
  display: flex;
  justify-content: space-around;
}

.submit {
  width: 100%;
  display: flex;
  background-color: #007AFF;
  color: white;
}

.google {
  width: 100%;
  display: flex;
  background-color: #333333;
  color: white;
}
